<h1>
  Test client <p style="display: inline; color: purple;"><%= version %></p>
</h1>

<h3>
  Total connections so far: <p id="connections" style="display: inline;"><%= connections %></p>
</h3>
<div>
  Server sent time over websocket: <p id="time" style="display: inline">--:--:--</p>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var loc = window.location, rel_uri;
    const time = document.getElementById('time');
    const connections = document.getElementById('connections');

    if (loc.protocol === "https:") {
      rel_uri = "wss:";
    } else {
      rel_uri = "ws:";
    }
    rel_uri += "//" + loc.host;
    rel_uri += loc.pathname + "/to/ws";
    var ws = new WebSocket(rel_uri);

    ws.onopen = function () {
      console.log('Websocket is connected...')
      ws.send('Connected')
    }

    ws.onmessage = function (ev) {
      const data = JSON.parse(ev.data);
      time.innerText = data.time;
      connections.innerText = data.totalConnections;
    }

    ws.onclose = function () {
      document.body.style='background: #ccc';
      time.innerText = 'Websocket closed...';
    }

    const ping = setInterval(function() {
      ws.send('test...');
    }, 1000);

    window.onbeforeunload = function() {
      websocket.onclose = function () {};
      websocket.close();
      clearInterval(ping);
    };
  });
</script>
